{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Card -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).webp"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></di v>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title">Basic Mdb Bootstrap</h4>
      <!-- Text -->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <!-- Button -->
      <a href="#" class="btn btn-primary">Button</a>
  
    </div>
  
  </div>
  <!-- Card -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
</head>
<body>
 <h1<button class="btn peach-gradient">Peach</button>
 <button class="btn purple-gradient">Purple</button>
 <button class="btn blue-gradient">Blue</button>
 <button class="btn aqua-gradient">Aqua</button></h1>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    
</body>
</html>